 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .header {
   width: 100%;
   text-align: center;
   padding: 10px 0;
 }

 .header>h1 {
   font-size: 48px;
   color: #fff;
 }

 .filterContainer {
   width: 100%;
   padding: 20px 10px;
   display: flex;
   justify-content: center;
 }

 .filterContainer>input {
   padding: 15px;
   width: 350px;
   border: none;
   border-radius: 10px;
   margin-right: 10px;
   font-size: 16px;
   outline: none;
 }

 .filterContainer>input::placeholder {
   font-weight: bold;
 }

 .filterContainer>button {
   padding: 10px 20px;
   width: 100px;
   font-size: 18px;
   background-color: #115668;
   border: none;
   color: #fff;
   box-shadow: 1px 5px 5px #000;
 }

 .filterContainer>button:hover {
   cursor: pointer;
   background-color: #00ccff;
 }

 .otherFilter {
   width: 100%;
   text-align: center;
 }

 .otherFilter>h3 {
   margin: 0;
   padding: 10px;
   color: #fff;
   font-size: 24px;
 }

 .filterInputs {
   padding: 20px;
   display: flex;
   justify-content: center;
 }

 .filterInputs>input {
   padding: 10px;
   border: none;
   border-radius: 10px;
   margin-right: 10px;
   font-size: 16px;
   outline: none;
 }

 .filterInputs>input::placeholder {
   font-weight: bold;
 }

 .otherFilter>button {
   padding: 10px 20px;
   width: 100px;
   font-size: 18px;
   background-color: #115668;
   border: none;
   color: #fff;
   box-shadow: 1px 5px 5px #000;
 }

 .otherFilter>button:hover {
   cursor: pointer;
   background-color: #00ccff;
 }

 .radio {
   font-size: 16px;
   color: #fff;
   font-weight: bold;
   display: flex;
   align-items: center;
   padding: 0 10px;
   background-color: #115668;
   border-radius: 10px;
 }

 .title {
   font-size: 24px;
   color: #fff;
   margin-top: 50px;
 }

 .returnContainer {
   padding: 20px;
   text-align: center;
 }

 .returnContainer>p {
   font-size: 24px;
   font-weight: bold;
   color: #fff;
 }

 .buttonReturn {
   padding: 10px 20px;
   width: 100px;
   font-size: 18px;
   background-color: #115668;
   border: none;
   color: #fff;
   box-shadow: 1px 5px 5px #000;
 }

 .buttonReturn:hover {
   cursor: pointer;
   background-color: #00ccff;
 }

 .listProducts {
   display: flex;
   list-style-type: none;
   justify-content: space-between;
   flex-wrap: wrap;
   min-height: 100vh;
 }

 .card {
   width: 280px;
   height: 440px;
   margin: 10px;
   box-shadow: 5px 5px 3px #000;
   border-radius: 10px;
   background-color: #fff;
 }

 .cardImage {
   width: 100%;
   margin: auto;
   display: block;
   border-radius: 10px 10px 0 0;
 }

 .card>h2 {
   padding: 10px;
   color: #fff;
   font-size: 28px;
   text-align: center;
   margin: 0;
   background-color: #17a6ca;
 }

 .cardText {
   display: flex;
   justify-content: space-between;
 }

 .cardText>p {
   text-align: center;
   line-height: 25px;
   margin: 10px;
   width: 100px;
   height: 60px;
   padding: 5px;
   font-size: 14px;
   background-color: #115668;
   color: #fff;
   border-radius: 10px;
 }

 .cardText>p>span {
   font-weight: bold;
   padding: 2px;
 }

 .card>button {
   margin: 0;
   padding: 15px;
   background-color: #17a6ca;
   text-align: center;
   width: 100%;
   color: #fff;
   font-size: 18px;
   border-radius: 0 0 10px 10px;
   border: none;
 }

 .card>button:hover {
   cursor: pointer;
   background-color: #115668;
 }

 .content {
   text-align: center;
 }

 @media (max-width: 748px) {
    .otherFilter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .filterInputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .filterInputs > input {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .radio {
      padding: 5px;
    }
 }